{
  "root": true,
  "extends": [
    "@mntm",
    "plugin:@next/next/recommended"
  ],
  "plugins": [
    "@next/next"
  ],
  "parserOptions": {
    "project": "./tsconfig.json",
    "tsconfigRootDir": "."
  },
  "rules": {
    "func-style": 0
  }
}
